table{
    border: 1px solid wheat;
    margin: 20px 0px;
    border-collapse: collapse;
    width: 90vw;
    margin-left:auto;
    margin-right:auto;
    font-size: 16px;
   
}
th,td{
    padding: 5px;
    text-align: center;
    border: 1px solid #e9e9e9
}
th{
    background-color: #efefef;
}
.bye:has(.hi){
    background-color: red;
}
.table-footer{
    display: flex;
    width: 80vw;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-between;
    align-items: center;
}
.delete-selected button{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.delete-icon{
    color: red;   
}
.action-btn{
    cursor: pointer;    
}
.main-container{
    overflow-x: hidden;
}
@media (max-width:768px) {
    table{
        font-size: 12px;
    }
    .delete-selected button{
        font-size: 12px;
    }
    .main-container{
        overflow-x: hidden;
    }
}


